@import "tailwindcss";

@source "../templates";

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Italic-VariableFont_wght.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-brand: #e10916;
  --color-brand-dark: #b60707;
}

[x-cloak] {
  display: none !important;
}
